APP_NAME=Go.Gin.Template
IS_LOGGER=true

DB_HOST=postgres
DB_USER=postgres
DB_PASS=<your password>
DB_NAME=<your database name>
DB_PORT=5432

GOLANG_PORT=8889
APP_ENV=localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
AUTH_JWKS_URL=http://localhost:8888/.well-known/jwks.json
JWT_ISSUER=go-ojol-auth
